!!! 5
%html
  %head
    %title Centrum zarządzania Hackerspace Kraków
    = favicon
    = javascript 'jquery'
    = javascript 'bootstrap'
    = stylesheet 'bootstrap'
  %body
    .container
      .row
        .col-md-12
          = yield
